

<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.google.com" target="_blank">Google</a> |
            <a class="link" href="https://www.w3schools.com" target="_blank">w3schools</a> |
            <a class="link" href="https://jquery.com/" target="_blank">JQuery</a> |
            <a class="link" href="https://www.php.net" target="_blank">PHP</a>
        </div>
        <p class="copyright">
            Copyright © 2019 Hanmail.com All Right Reserved
        </p>
    </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>